.indexHeader {
    background-color: #6d6875;
    height: 8em;
}

.employeeCardBackground {
    background-color: #FFB4A2;
}

.employeeCardHeader {
    background-color: #E5989B;
}

.employeeCardExtender {
    height: 8em;
}